In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('MoviesOnStreamingPlatforms_updated.csv')

In [3]:
df.columns

Index(['Unnamed: 0', 'ID', 'Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes',
       'Netflix', 'Hulu', 'Prime Video', 'Disney+', 'Type', 'Directors',
       'Genres', 'Country', 'Language', 'Runtime'],
      dtype='object')

In [4]:
df.drop(columns=["Unnamed: 0"])

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16740,The Ghosts of Buxley Hall,1980,NaN,6.2,NaN,0,0,0,1,0,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0
16740,16741,The Poof Point,2001,7+,4.7,NaN,0,0,0,1,0,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0
16741,16742,Sharks of Lost Island,2013,NaN,5.7,NaN,0,0,0,1,0,Neil Gelinas,Documentary,United States,English,NaN
16742,16743,Man Among Cheetahs,2017,NaN,6.6,NaN,0,0,0,1,0,Richard Slater-Jones,Documentary,United States,English,NaN
16743,16744,In Beaver Valley,1950,NaN,NaN,NaN,0,0,0,1,0,James Algar,"Documentary,Short,Family",United States,English,32.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16744 entries, 0 to 16743
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       16744 non-null  int64
 1   ID               16744 non-null  int64
 2   Title            16744 non-null  object
 3   Year             16744 non-null  int64
 4   Age              7354 non-null   object
 5   IMDb             16173 non-null  float64
 6   Rotten Tomatoes  5158 non-null   object
 7   Netflix          16744 non-null  int64
 8   Hulu             16744 non-null  int64
 9   Prime Video      16744 non-null  int64
 10  Disney+          16744 non-null  int64
 11  Type             16744 non-null  int64
 12  Directors        16018 non-null  object
 13  Genres           16469 non-null  object
 14  Country          16309 non-null  object
 15  Language         16130 non-null  object
 16  Runtime          16152 non-null  float64
dtypes: float64(2), int64(8), object(7)
memory usage: 2.2+ MB

In [6]:
df['Type'].unique()
df['Disney+'].unique()

array([0, 1])

In [7]:
df.head(10)

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0
5,5,6,Spider-Man: Into the Spider-Verse,2018,7+,8.4,97%,1,0,0,0,0,"Bob Persichetti,Peter Ramsey,Rodney Rothman","Animation,Action,Adventure,Family,Sci-Fi",United States,"English,Spanish",117.0
6,6,7,The Pianist,2002,18+,8.5,95%,1,0,1,0,0,Roman Polanski,"Biography,Drama,Music,War","United Kingdom,France,Poland,Germany","English,German,Russian",150.0
7,7,8,Django Unchained,2012,18+,8.4,87%,1,0,0,0,0,Quentin Tarantino,"Drama,Western",United States,"English,German,French,Italian",165.0
8,8,9,Raiders of the Lost Ark,1981,7+,8.4,95%,1,0,0,0,0,Steven Spielberg,"Action,Adventure",United States,"English,German,Hebrew,Spanish,Arabic,Nepali",115.0
9,9,10,Inglourious Basterds,2009,18+,8.3,89%,1,0,0,0,0,Quentin Tarantino,"Adventure,Drama,War","Germany,United States","English,German,French,Italian",153.0

In [8]:
df['Age'].isna()

for col in df.columns:
    if df[col].isnull().any():
        print(col,"-->",df[col].isnull().sum()," null values")

Age --> 9390  null values
IMDb --> 571  null values
Rotten Tomatoes --> 11586  null values
Directors --> 726  null values
Genres --> 275  null values
Country --> 435  null values
Language --> 614  null values
Runtime --> 592  null values

In [9]:
for col in ["IMDb","Runtime"]:
    df[col]=df[col].fillna(df[col].mean())
for col in ["Directors","Genres","Country","Language"]:
    df[col]=df[col].fillna('unknown')

In [10]:
df

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.800000,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.000000
1,1,2,The Matrix,1999,18+,8.700000,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.000000
2,2,3,Avengers: Infinity War,2018,13+,8.500000,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.000000
3,3,4,Back to the Future,1985,7+,8.500000,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.000000
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.800000,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16739,16740,The Ghosts of Buxley Hall,1980,NaN,6.200000,NaN,0,0,0,1,0,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.000000
16740,16740,16741,The Poof Point,2001,7+,4.700000,NaN,0,0,0,1,0,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.000000
16741,16741,16742,Sharks of Lost Island,2013,NaN,5.700000,NaN,0,0,0,1,0,Neil Gelinas,Documentary,United States,English,93.413447
16742,16742,16743,Man Among Cheetahs,2017,NaN,6.600000,NaN,0,0,0,1,0,Richard Slater-Jones,Documentary,United States,English,93.413447
16743,16743,16744,In Beaver Valley,1950,NaN,5.902751,NaN,0,0,0,1,0,James Algar,"Documentary,Short,Family",United States,English,32.000000

In [11]:
df["Age"]=df['Age'].fillna(df["Age"].mode()[0])

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16744 entries, 0 to 16743
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       16744 non-null  int64
 1   ID               16744 non-null  int64
 2   Title            16744 non-null  object
 3   Year             16744 non-null  int64
 4   Age              16744 non-null  object
 5   IMDb             16744 non-null  float64
 6   Rotten Tomatoes  5158 non-null   object
 7   Netflix          16744 non-null  int64
 8   Hulu             16744 non-null  int64
 9   Prime Video      16744 non-null  int64
 10  Disney+          16744 non-null  int64
 11  Type             16744 non-null  int64
 12  Directors        16744 non-null  object
 13  Genres           16744 non-null  object
 14  Country          16744 non-null  object
 15  Language         16744 non-null  object
 16  Runtime          16744 non-null  float64
dtypes: float64(2), int64(8), object(7)
memory usage: 2.2+ MB

In [13]:
df['Rotten Tomatoes']=df['Rotten Tomatoes'].str.rstrip('%').astype('float') #we can not convert srting to int

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16744 entries, 0 to 16743
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       16744 non-null  int64
 1   ID               16744 non-null  int64
 2   Title            16744 non-null  object
 3   Year             16744 non-null  int64
 4   Age              16744 non-null  object
 5   IMDb             16744 non-null  float64
 6   Rotten Tomatoes  5158 non-null   float64
 7   Netflix          16744 non-null  int64
 8   Hulu             16744 non-null  int64
 9   Prime Video      16744 non-null  int64
 10  Disney+          16744 non-null  int64
 11  Type             16744 non-null  int64
 12  Directors        16744 non-null  object
 13  Genres           16744 non-null  object
 14  Country          16744 non-null  object
 15  Language         16744 non-null  object
 16  Runtime          16744 non-null  float64
dtypes: float64(3), int64(8), object(6)
memory usage: 2.2+ MB

In [15]:
df['Rotten Tomatoes']=df['Rotten Tomatoes'].fillna(df['Rotten Tomatoes'].mean()) / 10
df['Rotten Tomatoes']=df['Rotten Tomatoes'].round(1)
df

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.800000,8.7,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.000000
1,1,2,The Matrix,1999,18+,8.700000,8.7,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.000000
2,2,3,Avengers: Infinity War,2018,13+,8.500000,8.4,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.000000
3,3,4,Back to the Future,1985,7+,8.500000,9.6,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.000000
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.800000,9.7,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16739,16740,The Ghosts of Buxley Hall,1980,18+,6.200000,6.5,0,0,0,1,0,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.000000
16740,16740,16741,The Poof Point,2001,7+,4.700000,6.5,0,0,0,1,0,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.000000
16741,16741,16742,Sharks of Lost Island,2013,18+,5.700000,6.5,0,0,0,1,0,Neil Gelinas,Documentary,United States,English,93.413447
16742,16742,16743,Man Among Cheetahs,2017,18+,6.600000,6.5,0,0,0,1,0,Richard Slater-Jones,Documentary,United States,English,93.413447
16743,16743,16744,In Beaver Valley,1950,18+,5.902751,6.5,0,0,0,1,0,James Algar,"Documentary,Short,Family",United States,English,32.000000

In [16]:
df['IMDb']=df['IMDb'].round(1)
df['Runtime']=df['Runtime'].round(1)

In [17]:
df.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,8.7,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,8.7,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,8.4,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,9.6,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,9.7,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [18]:
df['Type'].unique()

array([0])

In [19]:
df=df.drop(columns=['Type','Unnamed: 0','Rotten Tomatoes'])

In [20]:
df.head()
df=df.drop(columns=['ID'])

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16744 entries, 0 to 16743
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        16744 non-null  object
 1   Year         16744 non-null  int64
 2   Age          16744 non-null  object
 3   IMDb         16744 non-null  float64
 4   Netflix      16744 non-null  int64
 5   Hulu         16744 non-null  int64
 6   Prime Video  16744 non-null  int64
 7   Disney+      16744 non-null  int64
 8   Directors    16744 non-null  object
 9   Genres       16744 non-null  object
 10  Country      16744 non-null  object
 11  Language     16744 non-null  object
 12  Runtime      16744 non-null  float64
dtypes: float64(2), int64(5), object(6)
memory usage: 1.7+ MB

In [22]:
df.columns

Index(['Title', 'Year', 'Age', 'IMDb', 'Netflix', 'Hulu', 'Prime Video',
       'Disney+', 'Directors', 'Genres', 'Country', 'Language', 'Runtime'],
      dtype='object')

In [23]:
# melt()= unpivoting : means cols to rows or (wider to longer format)
pd.melt(df,['Title', 'Year', 'Age', 'IMDb','Directors', 'Genres', 'Country', 'Language', 'Runtime'],['Netflix', 'Hulu', 'Prime Video',
       'Disney+'])
pd.melt(df,id_vars=['Title'],value_vars=['Netflix', 'Hulu', 'Prime Video',
       'Disney+'])

                                Title variable  value
0                           Inception  Netflix      1
1                          The Matrix  Netflix      1
2              Avengers: Infinity War  Netflix      1
3                  Back to the Future  Netflix      1
4      The Good, the Bad and the Ugly  Netflix      1
...                               ...      ...    ...
66971       The Ghosts of Buxley Hall  Disney+      1
66972                  The Poof Point  Disney+      1
66973           Sharks of Lost Island  Disney+      1
66974              Man Among Cheetahs  Disney+      1
66975                In Beaver Valley  Disney+      1

[66976 rows x 3 columns]

In [24]:
plt_df=pd.melt(df,id_vars=['Title','IMDb','Runtime'],value_vars=['Netflix', 'Hulu', 'Prime Video',
       'Disney+'],var_name="Platforms",value_name="Availability")
plt_df

                                Title  IMDb  Runtime Platforms  Availability
0                           Inception   8.8    148.0   Netflix             1
1                          The Matrix   8.7    136.0   Netflix             1
2              Avengers: Infinity War   8.5    149.0   Netflix             1
3                  Back to the Future   8.5    116.0   Netflix             1
4      The Good, the Bad and the Ugly   8.8    161.0   Netflix             1
...                               ...   ...      ...       ...           ...
66971       The Ghosts of Buxley Hall   6.2    120.0   Disney+             1
66972                  The Poof Point   4.7     90.0   Disney+             1
66973           Sharks of Lost Island   5.7     93.4   Disney+             1
66974              Man Among Cheetahs   6.6     93.4   Disney+             1
66975                In Beaver Valley   5.9     32.0   Disney+             1

[66976 rows x 5 columns]

In [25]:
plt_df.columns

Index(['Title', 'IMDb', 'Runtime', 'Platforms', 'Availability'], dtype='object')

In [29]:
plt_df=plt_df.loc[plt_df["Availability"]==1,['Title', 'IMDb', 'Runtime', 'Platforms']].reset_index(drop=True)

In [30]:
plt_df

                                Title  IMDb  Runtime Platforms
0                           Inception   8.8    148.0   Netflix
1                          The Matrix   8.7    136.0   Netflix
2              Avengers: Infinity War   8.5    149.0   Netflix
3                  Back to the Future   8.5    116.0   Netflix
4      The Good, the Bad and the Ugly   8.8    161.0   Netflix
...                               ...   ...      ...       ...
17376       The Ghosts of Buxley Hall   6.2    120.0   Disney+
17377                  The Poof Point   4.7     90.0   Disney+
17378           Sharks of Lost Island   5.7     93.4   Disney+
17379              Man Among Cheetahs   6.6     93.4   Disney+
17380                In Beaver Valley   5.9     32.0   Disney+

[17381 rows x 4 columns]